doctype html
html
  head
    title Divyam Dance Academy
    block scripts
    block style 
  body
    nav#navbar.top 
       ul
          div.logo
            img(src="/static/image/logo.png")
            | DDA
          li #[a(href="/") Home]
          li #[a(href="/#introSection") About ]
          li #[a(href="/#missionSection") Services]
          li #[a(href="/#sponsorsSection") Class Info]
          li #[a(href="/#contener") Contact us]
    block content
    block content1
    footer#footer
      |  CopyRight &copy 2021 DivyamDanceAcademy.com | All Rights      Reserved